@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.custom-img {
  background-image: url('https://images.unsplash.com/photo-1541777594744-addc2de9d110?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
}

.leadership-img {
  background-image: url('https://media.graphcms.com/output=format:jpg/resize=,height:800,fit:max/6gW60WjTTqiZaNhfQOBD');
}

.outile-title {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #b45309;
}

.outline {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #b45309;
}

@media only screen and (max-width: 600px) {
  .custom-img {
    background-image: url('https://images.unsplash.com/photo-1541777594744-addc2de9d110?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
  }
}
